#mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

#performance-metrics {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 1rem;
  animation: fadeIn .5s;
}

.active-metric {
  border-radius: 50%;
  box-shadow: 0 0 40px 2px rgba(255, 217, 0, 0.516);
  background-color: rgba(255, 217, 0, 0.21);
}

#chart-container {
  justify-self: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 75%;
}

#metric-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

#score-components {
  display: flex;
  gap: 2rem;
}

.metric-container-inner {
  padding: 10px;
}

.metric { 
  transition: all .2s ease-in-out; 
}

.metric:hover { 
  transform: scale(1.05); 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}