body {
  margin-bottom: 0;
  background-image: url("./assets/layered-waves.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  position: relative;
  height: "100vh";
}
#contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#performance-metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  animation: fadeIn .5s;
  align-content: center;
  row-gap: 10px;
}

.active-metric {
  border-radius: 50%;
  box-shadow: 0 0 10px 2px#55fffc6b;
  //background-color:#e4e4e4;
}

#chart-container {
  justify-self: center;
  margin: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  // padding-top: 20px;
  padding-bottom: 10px;
}

.all-charts {
  margin-top: 30px;
}

#metric-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 10px;
  height: calc(100vh - 519px);
  overflow: auto;
}

.suggestion {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: .5em;
  min-height: 3em;
  p {
    font-size: smaller;
    font-weight: 800;
  }
}

.metric-container-inner {
  padding: 10px;
  min-width: 530px;
}

.metric {
  transition: all 0.2s ease-in-out;
}

.metric:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#footer {
  position: fixed;
  top: auto;
  bottom: 0;
  height: 30px;
  padding-left: 20px;
}
#metricCircle {
  border-radius: 50%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  // height: 15px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid black;
  border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: rgb(91, 91, 91);  
  border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 123, 123);  
  }
  // background: linear-gradient(326deg, rgb(23, 23, 23) 0%, rgb(39, 36, 58) 48%, rgb(53, 51, 72) 100%);
  // border-style: solid;
  // border-color: #1d1d2d;
  // border-width: 1px;


// // Playing around with Wavey Background
// .waves {
//   position: relative;
//   width: 100%;
//   height: 15vh;
//   margin-bottom: -7px; /*Fix for safari gap*/
//   min-height: 100px;
//   max-height: 150px;
// }

// .content {
//   position: relative;
//   height: 20vh;
//   text-align: center;
//   background-color: white;
// }

// /* Animation */

// .parallax > use {
//   animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
// }
// .parallax > use:nth-child(1) {
//   animation-delay: -2s;
//   animation-duration: 7s;
// }
// .parallax > use:nth-child(2) {
//   animation-delay: -3s;
//   animation-duration: 10s;
// }
// .parallax > use:nth-child(3) {
//   animation-delay: -4s;
//   animation-duration: 13s;
// }
// .parallax > use:nth-child(4) {
//   animation-delay: -5s;
//   animation-duration: 20s;
// }
// @keyframes move-forever {
//   0% {
//     transform: translate3d(-90px, 0, 0);
//   }
//   100% {
//     transform: translate3d(85px, 0, 0);
//   }
// }
